
.App {
  text-align: center;
  background-color: grey;
}

.Menu{
  text-align: right;

  
}
.Format{
    text-color: red;
  }


.whiteButton{
    background: white;
    border: 1px solid #999;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    color: black;
}

.blackButton{
    background: black;
    border: 1px solid #999;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
    color:green;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

